---
const { top, right, z1, z2, deg } = Astro.props;
---

<article
  class="paper blanket-root"
  style=`top: ${top}; right: ${right}; z-index: ${z1}; rotate: ${deg}deg;`
>
  <img
    src="/assets/blanket.png"
    alt="Pink blanket"
    class="overlay"
    style=`z-index: ${z2};`
  />
  <div class="flex-span">
    <p class="document_head">sep 2025 <br />lisbon, portugal <br />odl</p>
    <p class="document_head">oscar laursen <br />+45 50868563</p>
    <p class="document_title">
      <span class="title1">OMMIG</span>
      <br /><span class="title2">PERSONLIGT DOKUMENT</span>
      <br /><span class="title3">FAKTA-ARK</span>
    </p>
  </div>
  <div class="intro">
    <p class="title1">
      Fra Oscar Laursen<br />Til Læser<br /><br />Dokument nummer: 0001
    </p>
    <p class="title2">
      &nbsp;&nbsp;&nbsp;&nbsp;På dette ark finder du relevante oplysninger
      vedrørende Oscar Damsgaard Laursen
    </p>
    <p class="intro_title">OSCAR</p>
    <p class="title3">
      <br />
      Alder: 24 år <br />Stjernetegn: Vægten<br /> Øjenfarve: Blå <br
      />Hårfarve: Blond <br />Hjemby: Horsens, nuværende København
    </p>
  </div>
  <div class="outro">
    <p class="title1">
      <b>UDSENDT</b>
      <br />
      Uddannet ved udgang af
    </p>
    <div class="grid_1-1">
      <div class="title2">
        <p>
          Københavns <br />Erhvervsakademi
        </p>
        <div class="horizontal_line"></div>
        <p class="small_title">Uddannelsessted</p>
      </div>
      <div class="title3">
        <p>2026</p>
        <div class="horizontal_line"></div>
        <p class="small_title">Årgang</p>
      </div>
    </div>
  </div>
  <img src="/assets/ek_logo_paper.svg" alt="Pink blanket" class="logo" />
</article>
<article class="paper2 blanket-root">
  <img
    src="/assets/blanket.png"
    alt="Pink blanket"
    class="overlay"
    style=`z-index: ${z2};`
  />
  <div class="flex-span">
    <p class="document_head">sep 2025 <br />lisbon, portugal <br />odl</p>
    <p class="document_head">oscar laursen <br />+45 50868563</p>
    <p class="document_title">
      <span class="title1">OMMIG</span>
      <br /><span class="title2">PERSONLIGT DOKUMENT</span>
      <br /><span class="title3">FAKTA-ARK</span>
    </p>
  </div>
  <div class="intro">
    <p class="title1">
      Fra Oscar Laursen<br />Til Læser<br /><br />Dokument nummer: 0001
    </p>
    <p class="title2">
      &nbsp;&nbsp;&nbsp;&nbsp;På dette ark finder du relevante oplysninger
      vedrørende Oscar Damsgaard Laursen
    </p>
    <p class="intro_title">OSCAR</p>
    <p class="title3">
      <br />
      Alder: 24 år <br />Stjernetegn: Vægten<br /> Øjenfarve: Blå <br
      />Hårfarve: Blond <br />Hjemby: Horsens, nuværende København
    </p>
  </div>
  <div class="outro">
    <p class="title1">
      <b>UDSENDT</b>
      <br />
      Uddannet ved udgang af
    </p>
    <div class="grid_1-1">
      <div class="title2">
        <p>
          Københavns <br />Erhvervsakademi
        </p>
        <div class="horizontal_line"></div>
        <p class="small_title">Uddannelsessted</p>
      </div>
      <div class="title3">
        <p>2026</p>
        <div class="horizontal_line"></div>
        <p class="small_title">Årgang</p>
      </div>
    </div>
  </div>
  <img src="/assets/ek_logo_paper.svg" alt="Pink blanket" class="logo" />
</article>

<style>
  .paper {
    position: absolute;
    width: 27vw; /* bredde følger viewport */
    height: auto;
    background-image: url(/assets/pink-blanket.png);
    background-size: contain;
    aspect-ratio: 1/1.314;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.24);
    transition: transform 0.3s;
  }

  .paper:hover {
    transform: scale(1.02);
    transition: transform 0.3s;
  }

  .flex-span {
    display: flex;
    justify-content: space-between;
  }

  .document_head {
    color: #0037ad;
    font-family: "Courier New", Courier, monospace;
    font-size: calc(0.5cqw * var(--font-scale));
    -webkit-text-stroke: 0.02rem;
    margin: 5%;
  }

  .document_title {
    position: absolute;
    text-align: center;
    color: #ce0000;
    font-family: owners-xwide, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: calc(0.8cqw * var(--font-scale));
    -webkit-text-stroke: 0.02rem;
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .document_title .title1 {
    font-weight: 400;
  }
  .document_title .title2 {
    font-size: calc(0.6cqw * var(--font-scale));
  }
  .document_title .title3 {
    font-size: calc(1.2cqw * var(--font-scale));
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: multiply;
    pointer-events: none;
    z-index: 1;
  }

  .intro {
    color: #0037ad;
    font-family: "Courier New", Courier, monospace;
    font-size: calc(0.7cqw * var(--font-scale));
    -webkit-text-stroke: 0.02rem;
    padding: 0 12%;
  }

  .intro .title1 {
    margin-top: 15%;
  }
  .intro .title2 {
    margin-top: 15%;
  }
  .intro_title {
    margin-top: 15%;
    text-align: center;
    font-weight: 600;
  }

  .flex-span,
  .intro {
    z-index: 2;
  }

  .outro {
    color: #2d2d2d;
    font-family: "Courier New", Courier, monospace;
    font-size: calc(0.7cqw * var(--font-scale));
    -webkit-text-stroke: 0.02rem;
    padding: 0 17%;
    margin-top: 10%;
  }

  .outro .title2 {
    margin-top: 5%;
  }

  .outro .title3 {
    text-align: center;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end; /* sørger for at alt aligner i bunden */
    gap: 10%;
  }

  .horizontal_line {
    width: 100%;
    height: 0.08vh;
    background-color: black;
    margin: 0 auto;
  }

  .small_title {
    text-align: center;
    margin-top: 3%;
    font-size: calc(0.4cqw * var(--font-scale));
    opacity: 0.7;
  }

  .logo {
    position: absolute;
    width: 30%;
    bottom: 5%;
    right: 5%;
    mix-blend-mode: darken;
  }

  .paper2 {
    display: none;
    width: 70vw; /* bredde følger viewport */
    height: auto;
    background-image: url(/assets/pink-blanket.png);
    background-size: contain;
    aspect-ratio: 1/1.314;
    position: relative;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.24);
  }

  .paper2 .document_head {
    font-size: calc(1.5cqw * var(--font-scale)); /* 0.5 + 2 */
  }
  .paper2 .document_title {
    font-size: calc(1.8cqw * var(--font-scale)); /* 0.8 + 2 */
  }
  .paper2 .document_title .title2 {
    font-size: calc(1.6cqw * var(--font-scale)); /* 0.6 + 2 */
  }
  .paper2 .document_title .title3 {
    font-size: calc(2.8cqw * var(--font-scale)); /* 1.2 + 2 */
  }
  .paper2 .intro {
    font-size: calc(1.7cqw * var(--font-scale)); /* 0.7 + 2 */
  }
  .paper2 .outro {
    font-size: calc(1.7cqw * var(--font-scale)); /* 0.7 + 2 */
  }
  .paper2 .small_title {
    font-size: calc(1.4cqw * var(--font-scale)); /* 0.4 + 2 */
  }
  .paper2 .logo {
    position: absolute;
    width: 30%;
    bottom: 5%;
    right: 5%;
    mix-blend-mode: darken;
  }

  @media (max-width: 800px) {
    .paper {
      display: none;
    }
    .paper2 {
      display: block;
    }
    .overlay {
      display: none;
    }
    .document_title {
      position: absolute;
      text-align: center;
      color: #ce0000;
      font-family: owners-xwide, sans-serif;
      font-weight: 400;
      font-style: normal;
      top: 70%;
      left: 50%;
    }
    .flex-span {
      position: relative;
    }
  }
</style>
